.myButtonStyle {
    background-color: red;
    font-size: 12px;
    background-size: 21.9px;
}

#__vbox0 {
    margin-top: 150px !important;
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    color: #fefeff;
}

#__data7 {
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    min-height: auto;
    margin-top: 2px !important;
    min-width: auto;
}

.sapMBtnBack,
.sapMBtnTransparent {
    background-image: none;
    background-color: #0000;
    border-color: #0000;
    color: #ffebeb;
}

#__text1 {
    text-align: center;
}

#input {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

.sapMInputBaseHeightMargin {
    margin: 0.60rem 0;
}

.input_icon .sapMInputBaseInner {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1200px-User_font_awesome.svg.png);
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: 21.9px;
    background-position-x: 4px;
    background-position-y: 5px;
}

#__data5 {
    box-shadow: 5px 15px #888888;
}

.input_icon1 .sapMInputBaseInner {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ab/Key_font_awesome.svg);
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: 21.9px;
    background-position-x: 4px;
    background-position-y: 5px;
}